@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    color: #465859;
}

:root {
    --mainbgcolor: #2c334f;
    --mainbg1color: #e6e6e6;
    --mainbg2color: #0e0e18;
    --twotkbg: #d1d1d1;
    --tbgkbgsbg: #1d1d28;
}

body {
    width: 100%;
    max-width: 1440px;
    background-color: var(--mainbgcolor);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

body.active1 {
    background-color: var(--mainbg1color);
}

body.active1 .btn {
    background-color: var(--twotkbg);
}

body.active2 {
    background-color: var(--mainbg2color);
}

.toggle {
    display: flex;
    justify-content: space-between;
}

.right-box {
    display: flex;
    justify-content: flex-end;
}

.toggle p {
    margin: 0 5px;
    color: #FFF;
    cursor: pointer;
}

body.active1 .toggle h3 {
    color: #111;
}

body.active2 .toggle h3 {
    color: rgb(286, 236, 31);
}

h3 {
    color: #FFF;
}

.control {
    display: flex;
    justify-content: flex-end;
}

.control .box {
    width: 60px;
    height: 15px;
    background-color: hsl(224, 36%, 15%);
    border-radius: 30px;
    margin-left: 4px;
    position: relative;
}

body.active1 .control .box {
    background-color: var(--twotkbg);
}

body.active2 .control #circle {
    background-color: hsl(176, 100%, 44%);
}

.control #circle {
    width: 15px;
    height: 15px;
    background-color: hsl(6, 63%, 50%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 30px;
}

body.active1 .control #circle {
    background-color: hsl(25, 98%, 40%);
}

.control p {
    color: #FFF;
    cursor: pointer;
    margin-right: 4px;
}

body.active1 .control p {
    color: #111;
}

body.active1 .right-box p {
    color: #111;
}

body.active2 .control p {
    color: hsl(52, 100%, 62%);
}

body.active2 .right-box p {
    color: hsl(52, 100%, 62%);
}

.screen {
    width: 450px;
}

#input {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    text-align: right;
    font-size: 32px;
    background-color: hsl(224, 36%, 15%);
    color: #FFF;
    border: 0;
    outline: none;
    border-radius: 7px;
    padding-inline: 20px;
}

body.active1 #input {
    background-color: hsl(0, 0%, 93%);
    color: #111;
}

body.active2 #input {
    background-color: var(--tbgkbgsbg);
    color: hsl(52, 100%, 62%);
}

button {
    width: 90px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px hsl(28, 16%, 65%);
    margin: 10px 10px;
    font-size: 32px;
    /* color: ; */
}

body.active1 button {
    box-shadow: 0px 3px 0px 0px hsl(35, 11%, 61%);
}

body.active2 button {
    box-shadow: 0px 3px 0px 0px hsl(268, 47%, 21%);
    background-color: hsl(290, 70%, 36%);
    color: hsl(52, 62%, 52%);
}

.btn {
    display: flex;
    width: 450px;
    flex-flow: wrap;
    background-color: hsl(224, 36%, 15%);
    padding: 10px 5px;
    margin: 8px 0;
    border-radius: 7px;
}

body.active2 .btn {
    background-color: var(--tbgkbgsbg);
}

.reset,
.del {
    box-shadow: 0px 3px 0px 0px hsl(224, 28%, 35%);
    background-color: hsl(225, 21%, 49%);
    color: #FFF;
    font-size: 16px;
}

body.active1 .reset,
body.active1 .del {
    box-shadow: 0px 3px 0px 0px hsl(35, 11%, 61%);
    background-color: hsl(185, 42%, 37%);
}

body.active2 .reset,
body.active2 .del {
    box-shadow: 0px 3px 0px 0px hsl(290, 70%, 36%);
    background-color: hsl(268, 47%, 21%);
    color: #fff;
}

.reset,
.equal {
    width: 200px;
    color: #FFF;
    font-size: 16px;
}

.equal {
    box-shadow: 0px 3px 0px 0px hsl(6, 70%, 34%);
    background-color: hsl(6, 63%, 50%);
}

body.active1 .equal {
    box-shadow: 0px 3px 0px 0px hsl(25, 99%, 27%);
    background-color: hsl(25, 98%, 40%);
}

body.active2 .equal {
    box-shadow: 0px 3px 0px 0px hsl(177, 92%, 70%);
    background-color: hsl(176, 100%, 44%);
    color: #fff;
}

footer {
    margin-top: 750px;
    margin-left: -500px;
}

.attribution {
    color: white;
}

@media (max-width: 600px) {
    button {
        padding: 10px;
        font-size: 24px;
        margin: 5px;
    }
    #input {
        width: 90%;
    }
    .btn {
        width: 410px;
    }
    .reset,
    .equal {
        width: 190px;
    }
    .toggle {
        justify-content: space-around;
    }
    .control {
        position: relative;
        right: 75px;
    }
}